@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);


.contacto{
  width: 90%;
  margin: 16px auto;
  font-size: 16px;
  height:auto;
}

/* Reset top and bottom margins from certain elements */

.etiqueta p {
  margin-top: 0;
  margin-bottom: 0;
  font-family:'Montserrat', sans-serif;
}

.contacto {
  background: #f5f5f5;
  padding: 12px;
}

/* Every row inside .login-container is defined with p tags */
.etiqueta p {
  padding: 12px;
}
legend{
font-family:'Montserrat', sans-serif;	
}

select {
    width: 100%;
    padding: 16px 20px;
    border width: 1px;
    border-radius: 4px;
    background-color:#fff;
    margin: 12px 0;
}

 input,textarea {
  box-sizing: border-box;
  display: block;
  width: 100%;
  border-width: 1px;
  border-style: solid;
  padding: 16px;
  outline: 0;
  font-family: inherit;
  font-size: 0.95em;
  
}

.control input[type="text"],
.control input[type="password"],
.control input[type="email"],
.control input[type="date"] {
  background: #fff;
  border-color: #bbb;
  color: #555;
  border-radius: 4px;
   padding: 12px 20px;
    margin: 12px 0;
}


/* Text fields' focus effect */
.control input[type="text"]:focus,
.control input[type="password"]:focus,
.control input[type="email"]:focus,
.control input[type="date"]:focus{
  border-color:#C90;
  
}

 input[type="reset"],
 input[type="submit"] {
  background: #c30202;
  border-color:transparent;
  color: #fff;
  cursor: pointer;
 
}

 input[type="reset"]:hover,
 input[type="submit"]:hover
 {
  background: #890202;
}

/* Buttons' focus effect */
 input[type="reset"]:focus,
 input[type="submit"]:focus {
  border-color: #05a;
}

