body{
	font-family: "Open Sans",sans-serif;	
	margin:0px;
}
#cabecera{
	width:100%;
	z-index: 1030;
	position:fixed;
	
	
}
#menusup {
    background-color: #f1f1f1;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 1);
    height: 36px;
    z-index: 1030;
	position:fixed;
	width: 100%;
}

.contenedormenusup{
	   width: 90%;
	   height:100%;
	   margin-left:16%;
	   margin-right:16%;
	   float:left;
	   padding-right:15px;
	   padding-top:0.5px;
	   
}
#menu-bar {
  width: 50%;
  margin: 0px 0px 0px 0px;
  padding: 4px 6px 4px 6px;
  height: 70%;
  line-height: 100%;
  background: #F1F1F1;
  border: solid 0px #6D6D6D;
  position:relative;
  z-index:999;
  display: inline-block;
}
#menu-bar li {
  margin: 0px 0px 0px 0px;
  padding: 0px 4px 0px 6px;
  float: left;
  position: relative;
  list-style: none;
  text-transform: uppercase;
}
#menu-bar a {
  font-weight:bold;
  font-family: verdana;
  font-style: normal;
  font-size: 12px;
  color: #000000;
  text-decoration: none;
  display: block;
  padding: 8px 20px 8px 20px;
}

#menu-bar .active a {
  color:#f1f1f1;
}
#menu-bar .active  {
  background-image:url(images/menuinf.gif);
}
#menu-bar li a:hover{
 
  color:#F60;
}
#menu-bar .active a:hover {
    color: #f1f1f1;
}




#menuinf {
    padding: 2% 0;
	height:10px;
	margin-top:35px;
	background-image:url(images/menuinf.gif);
	background-position: center top;
	filter: inherit;
	border-color: #252525;
	-webkit-box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, .4);
    -moz-box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, .4);
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, .4);
    width:100%;
	z-index: 1020;
	position:fixed;
	
}

#menuinfcentral{
	
    border-color: #252525;
	   width: 80%;
	   height:12px;
	   margin-left:10%;
	   margin-right:10%;
	   
	   padding-right:15px;
	   padding-top:5px;     
}


#logo{
	width: 100px;
	height: 100px;
	background-color: #c30202;
	
	-webkit-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, .3);
	box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, .3);
	z-index: 3000;
	position: absolute;
	top: 0px;
	left: 10%;
	
}
#menugeneral{
	margin-left:80px;
}
#ddmenu
{
	display: block;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	text-align: center; /*Specify the alignment of the whole UL if UL is not width:100%;*/
	letter-spacing: normal;
	margin-top: -39px;

}

#ddmenu ul
{ 
    margin:0 auto;
    padding:12px 0px;
    text-align:center; /* Alignment of each top-level menu items within the UL */
    width:100%;
    font-size:0;
    
    display:inline-block;
    list-style:none;
   
    max-width:1400px;
border:1px solid rgba(255,255,255,0.2);
border-radius:4px;
}

#ddmenu li
{
    margin:0;
    padding:0;
    font-size:18px;
    display:inline-block;
    *display:inline;
    zoom:1; /*for IE6-7*/
    position:relative;
    color:#eee;
    line-height:50px; /*This determines the height of the menu*/
    vertical-align:middle;
    transition:background-color 0.2s;
    outline:none;
	-moz-user-select:none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#ddmenu .full-width {
    position: static;
}

#ddmenu .over
{
    color:#000;
background-color:#FAFAFA;
}


#ddmenu .top-heading
{
    font-weight:bold;
    margin:0 45px;
    color:inherit;
    text-decoration:none;
    display:inline-block; 
    outline:0;
    cursor:pointer;
}

/* links of top-heading */
#ddmenu a, #ddmenu a:link, #ddmenu a:hover
{
    color:inherit;
	
}
#ddmenu a:hover
{
    
}

#ddmenu a:focus
{
    outline:1px dotted #09F;
}

/* caret(arrow icon) */
#ddmenu .caret
{
    color:inherit;
    left:-12px;
    width: 0;
    height: 0;
    overflow:hidden;/*for IE6*/
    vertical-align:middle;
    margin-bottom:2px;
    border-top: 1px solid;/*caret size is 4px now*/
    border-right: 1px solid transparent;
    border-left: 1px solid transparent;
    display: inline-block;
    position:relative;
}  
        
/* sub-menu layout
----------------------------*/

#ddmenu .dropdown
{
    width:auto;    
    left:0px;
    color:#000;
    padding:0;margin:0;display:none;position:absolute;overflow:hidden;
    top:100%;
	
    border:1px solid rgba(255,255,255,0.35);
border-top:none;
border-radius:2px;
background-color:rgba(0,0,0,0.2);
background-color:#ccc \9;/*fallback for old IE*/
}

#ddmenu .full-width .dropdown {
    width:100%;
    padding:0;
    margin:0;
}

#ddmenu .offset300 {
    left:-300px;right:auto;
}

#ddmenu .right-aligned {
    left:auto;
    right:0px;
}

#ddmenu .over .dropdown
{
    display:block;
}

#ddmenu .dd-inner {
    text-align:center;
    padding:20px;
    margin:16px;
    background-color:#FFF;
    white-space:nowrap;
    font-size:13px;
}

#ddmenu ul ul
{ 
    margin:0;padding:0;text-align:left;width:auto;background:none;border:none;display:block;position:static;z-index:0;border-radius:0;
}

#ddmenu ul ul li
{
    font-size:15px;
    padding:8px 0; /*It determines the line height*/
    color:inherit;
    line-height:1;
    margin:0;display:block;position:static;background:none;border:none;transition:none;border-radius:0;
}
  
/* links in sub menu
----------------------------*/

#ddmenu .dropdown a
{
    color:#000;
    line-height:1;
    text-decoration:none;
    transition:color 0.4s;
}

#ddmenu .dropdown a:hover, #ddmenu .dropdown a:focus
{
    text-decoration:none;
    color:#F90;
}

/* blocks within the sub-menu
-----------------------------*/
#ddmenu .column
{
    text-align:left;
    vertical-align:top;/*or middle*/
    display:inline-block;
    *display:inline;*zoom:1;
    white-space:normal;
    width:auto;min-width:200px;
padding:0 30px;
border-right:1px solid #999;
}

#ddmenu .dd-inner ul:last-child
{
    border-right:none;
}

#ddmenu h3 {
  font-weight: 500;
  line-height: 1.1;
  margin-top: -12px;
  margin-bottom: 8px;
  font-size: 25px;
}

#ddmenu div.column h3 {text-transform:uppercase;}

#cuerpo{
	
	margin-top:3px;
	background-image:url(images/backgroundcuerpo.gif);
	height:auto;
	width:100%;
	padding-top:30px;
	padding-bottom:40px;
}

#contenidogeneral{
    width: 76%;
	margin-left:12%;
	margin-right:12%;
   
    background:#FAFAFA;
    padding-bottom: 50px;
    position: relative;	
	-webkit-box-shadow: 0px 0px 8px 0px rgba(50, 50, 50, 0.81);
	-moz-box-shadow:    0px 0px 8px 0px rgba(50, 50, 50, 0.81);
	box-shadow:         0px 0px 8px 0px rgba(50, 50, 50, 0.81);
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	padding-top:10px;
	margin-top:140px;
	height:auto;
}

.page-header{
	border-bottom: 1px solid #ccc;
	margin: 40px 0 0;
	
	padding-bottom: 0;
	text-align: center;
	
}


h2{
	font-family:'Montserrat', sans-serif;
	color:#333;
	font-size: 38px;
	margin-top:-5px;
	text-align: center;
	letter-spacing: 0.8pt;
	word-spacing: -2.4pt;
	line-height: 1.6;	
}
h3{
	font-family:'Montserrat', sans-serif;
	color: #333333;
	font-weight: bold;
	letter-spacing: 0.3pt;
	word-spacing: -0.8pt;
	font-size: 1.1em;
	line-height: 1.4737;
	-webkit-margin-before: 1em;
	-webkit-margin-after: 1em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;

}


#footer{
	width:100%;
	height:380px;
	padding: 15px 0 40px;
	margin-top:0px;
	background-image:url(images/backgroundfooter.gif);
	background-color: transparent;
	background-repeat: repeat-x;
    color: #f1f1f1;
    -webkit-box-shadow: 0px -2px 2px 0px rgba(0, 0, 0, .3);
    box-shadow: 0px -2px 2px 0px rgba(0, 0, 0, .3);
	
}


.contenedor{
	
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 80%;
	height:360px;
	margin-left:10%;
	margin-right:10%;
	text-align: left;
	font: bold 16px sans-serif;

	padding: 55px 10px;
	
}

.contenedor .footer-left,
.contenedor .footer-center,
.contenedor .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.contenedor .footer-left{
	width: 35%;
}

/* The company logo */

.contenedor h3{
	color:  #ffffff;
	font: normal 60px 'Cookie', cursive;
	margin: 0;
}

.contenedor h3 span{
	color:#930;
}

/* Footer links */

.contenedor .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.contenedor .footer-links a{
	display:inline-block;
	line-height: 1.5;
	text-decoration: none;
	color:  inherit;
}

.contenedor .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
	text-align:center;
}

/* Footer Center */

.contenedor .footer-center{
	width: 38%;
}

.contenedor .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 50px;
	vertical-align: middle;
}

.contenedor .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.contenedor .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}

.contenedor .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.contenedor .footer-center p a{
	color:  #5383d3;
	text-decoration: none;;
}


/* Footer Right */

.contenedor .footer-right{
	width: 20%;
}

.contenedor .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

.contenedor .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.contenedor .footer-icons{
	margin-top: 25px;
}

.contenedor .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

	.contenedor{
		font: bold 14px sans-serif;
	}

	.contenedor .footer-left,
	.contenedor .footer-center,
	.contenedor .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.contenedor .footer-center i{
		margin-left: 0;
	}

}
